<tr>
  <td>
    <div class="row-fluid">

      <div class="span5 <%= "skill_depth_#{row[:skill].depth}" %>">
        <h4><%= row[:skill].label %>  <% if row[:skill].description.present? %><small><%= row[:skill].description %></small><% end %></h4>
      </div>

      <div class="span7">
        <div class="btn-toolbar">
          <% row[:dimension_options].keys.each do |dimension| %>
            <div class="btn-group">
              <a class="btn dropdown-toggle btn-<%= "foo" %>" data-toggle="dropdown" href="#">
                <span><%= dimension %></span>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <% row[:dimension_options][dimension].each do |option| %>
                  <li><a href="#"><%= option.long_label %></a></li>
                <% end %>
                <li class="divider"></li>
                <li><a href="#">Remove Answer</a></li>
              </ul>
            </div>
          <% end %>
        </div>
      </div>

    </div>
  </td>
</tr>
