<%
   depth = row[:skill].depth
   classes = []
   classes << "skill_depth_#{depth}"
   classes << "collapsed" if depth <= 2
   classes << "parent" if row[:parent]
   classes += row[:skill].parents.collect(&:code)
   class_names = classes.inject("") {|value, item| value += "#{item} " }.strip
%>
<tr class="<%= class_names %>" style="<%= "display: none;" if depth > 2 %>">
  <td>
    <div class="row-fluid">

      <!-- Skill Label -->
      <div class="span4 skill_row">
        <h4 class="skill_label">
          <i class="icon-minus" data-target="<%= row[:skill].code %>"></i>
          <i class="icon-plus" data-target="<%= row[:skill].code %>"></i>
          <span><%= row[:skill].label %></span>
          <% if row[:skill].description.present? %>
            <small><%= row[:skill].description %></small>
          <% end %>
        </h4>
      </div>

      <div class="span8">
        <% if @current_user.present? %>
          <div class="btn-toolbar">
            <% row[:dimension_options].keys.each do |dimension_label| %>
              <%
                 dimension = Dimension.find_by_label(dimension_label)
                 detail = row[:skill_details].where(skill_id: row[:skill].id, dimension_id: dimension.id)
                 value = dimension_label
                 editable = @self_user.present? && @current_user.present? && @self_user.id == @current_user.id
                 tooltip = editable ? "Click to choose" : "No answer"
                 if detail.count > 0
                   value = detail.first.value
                   tooltip = dimension.dimension_options.find_by_short_label(value).long_label
                 end
                 current_answer = {
                   value: value,
                   class: get_class_name(value.parameterize("_")),
                   tooltip: tooltip
                 }
              %>
              <!-- Dimension Button -->
              <div class="btn-group">
                <% if editable %>
                  <a class="btn btn-small dropdown-toggle <%= "#{current_answer[:class]} btn-#{row[:skill].code.parameterize("_")} btn-#{dimension_label.parameterize("_")}" %>" data-toggle="dropdown" href="#" title="<%= current_answer[:tooltip]%>">
                    <i class="icon-exclamation-sign"></i>
                    <span class="current"><%= current_answer[:value] %></span>
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <% row[:dimension_options][dimension_label].each do |option| %>
                      <li style="<%= "display: none;" if option.short_label == value %>"><a href="javascript: window.setDimension('<%= row[:skill].code %>', '<%= dimension_label %>', '<%= option.short_label %>', '<%= get_class_name(option.short_label.parameterize("_")) %>', '<%= option.long_label %>')"><%= option.long_label %></a></li>
                    <% end %>
                    <% hide_remove = (dimension_label == current_answer[:value]) %>
                    <li class="divider" style="<%= "display: none;" if hide_remove %>"></li>
                    <li style="<%= "display: none;" if hide_remove %>"><a href="javascript: window.resetDimension('<%= row[:skill].code %>', '<%= dimension_label %>')">Remove Answer</a></li>
                  </ul>
                <% elsif value != dimension_label %>
                  <a class="btn btn-mini read_only <%= "#{current_answer[:class]} btn-#{row[:skill].code.parameterize("_")} btn-#{dimension_label.parameterize("_")}" %>" title="<%= current_answer[:tooltip]%>">
                    <span class="current"><%= current_answer[:value] %></span>
                  </a>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>

    </div>
  </td>
</tr>
