<div class="offset2 span8">

  <h4>Who wrote this?</h4>
  <p>Programmed with care by <strong>james.trask@hp.com</strong></p>
  <hr>

  <h4>Who came up with all the skills?</h4>
  <p>William Hertling and James Bradford Trask brainstormed most of the skills in a cool 30 minutes. The James took it the rest of the way as the application was being developed. From now on the skills will reflect feedback from everyone in our  <%= render partial: "skills/section" %>.</p>
  <hr>

  <h4>Who can enter skills?</h4>
  <p>Anyone in our <%= render partial: "skills/section" %></p>
  <hr>

  <h4>Who thought this was necessary?</h4>
  <p>Con and Bill asked the James to look into this.</p>
  <hr>

  <h4>Who is sponsoring this?</h4>
  <p>Con O’Donnell, leader of <%= render partial: "skills/section" %></p>
  <hr>

  <h4>Who let the dogs out?</h4>
  <p>Who? Who? Who?</p>
  <hr>

  <h4>Who can see my answers?</h4>
  <p>Anyone in our <%= render partial: "skills/section" %></p>
  <hr>

  <h4>Who fills this stuff out?</h4>
  <p>Everyone in our <%= render partial: "skills/section" %></p>
  <hr>

  <h4>Who do you want to be today?</h4>
  <p>Who do you want to be?</p>
  <hr>

  <h4>Who has the same interests as I do?</h4>
  <p>More reports coming soon...</p>
  <hr>

  <h4>What information can other people see?</h4>
  <p>People in the section can see all your answers. Nobody else can.</p>
  <hr>

  <h4>What is a skill?</h4>
  <p>Anything useful to you, somebody else, a group of people, or an organization.</p>
  <hr>

  <h4>What is a dimension?</h4>
  <p>A dimension is one particular aspect of a skill, a particular way of assessing a skill, or a type of opinion one may have about a skill. Examples: Skill Level, Status, Satisfaction, etc.</p>
  <hr>

  <h4>What reports are available?</h4>
  <p>The only output currently supported is a CSV export. More reports coming soon.</p>
  <hr>

  <h4>What do the colors mean?</h4>
  <p>Nothing. The colors are chosen for their emotional impact and their eye-popping pizzazz.</p>
  <hr>

</div>


<!--

	What devices can I use to view and edit my skills?
		Any device you can imagine.
	What’s in it for me?
		Self-enquiry. Knowing thyself. Self-understanding. Self-awareness. Self-actualization. Know thy friends. Better understand people around you, both coworkers and friends.
	What’s in it for HP?
		Clear understaning of talent pool. Recruitment intelligence. Better place to work. Happier people.
	What what?
		Uh huh. Oh yeah.
When
	When are my answers saved?
		The moment you answer the question.
	When do others see my answers?
		The next time they view your skills.
	When can I change my answers?
		Right now.
When did this project start?
	Two weeks ago.
	When is this project going live?
		One week from now.
	When can I start entering information?
		Now.
Where
	Where is the data stored?
		Heroku
	Where is the site hosted?
		Heroku
	Where is the source code repository?
		GitHub/Heroku
	Where can I find help?
		Email thread(s)
	Where can I find skill matches?
		CSV output, self-anaysis
	Where are the wild things?
		Not sure yet. Looking into it…
	Where did you get my email address?
		You work in our section. HP directory.
Why
	Why are you asking me for this information?
		You are a valued team member.
	Why should I care?
		Because we care about you. You want to be all that you can be.
	Why is this helpful to the section?
		Skills equal abilities. Abilities equal value prop.
	Why can’t you just use Excel?
		Too cumbersome. Bad Mac experience.
	Why aren’t there user accounts?
		Too cumbersome.
	Why can’t I import my LinkedIn skills list?
		You will be able to soon. Full integration.
	Why is it so easy to use?
		Because a ton of thought and care went into it.
	Why do you seem to know me?
		Because you are me. We are all me.
How
	How the heck did you put all this together?
		With much meticulous care.
	How is data pulled back out of the system?
		Currently, only via CSV export. Reports to come…
	How do I know you’re not selling my information?
		You just have to trust us. We’re all in this together.
	How do I get involved?
		You already are. Vocalize.
	How do I sign in?
		No need.
	How does the site respond so beautifully to different device dimensions?
		Design aforethought.
	How did you know my name?
		You work in our section. HP directory.

-->
