<ul class="nav nav-pills">
  <% @row_info[Skill::TOP_PARENT_CODE].sort_by{|info| info[:skill][:sort_order]}.each_with_index do |category, idx| %>
    <li class="<%= "active" if idx == 0 %>">
      <a href="#<%= category[:skill].code %>" data-target="#<%= category[:skill].code %>" data-toggle="pill"><%= category[:skill].label %></a>
    </li>
  <% end %>
</ul>

<%= render partial: "prev_next" %>

<div class="row-fluid">
  <%= render partial: "skills/expand_collapse" %>
  <%= render partial: "skills/search_field" %>
</div>

<div class="tab-content">
  <% @row_info.reject{|k,v| Skill::TOP_PARENT_CODE == k}.each do |key, group|  %>
    <div id="<%= key %>" class="tab-pane <%= "active" if "web_development" == key %>">
      <table class="table table-striped skills_table <%= key %>">
        <tbody>
        <%= render partial: "skills/row", collection: group.sort_by{|info| info[:skill][:sort_order]} %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>

<%= render partial: "prev_next" %>
