<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Skillz" %><%= " (local)" if Rails.env.development? %></title>
  <%= csrf_meta_tags %>

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
  <![endif]-->

  <%= stylesheet_link_tag "application", :media => "all" %>

</head>
<body>

<%
   editable = @self_user.present? && @current_user.present? && @self_user.id == @current_user.id
   full_name = @current_user.present? ? "#{@current_user.first_name} #{@current_user.last_name}" : "Choose Person..."
   first_name = @current_user.present? ? @current_user.first_name : ""
   email = @current_user.present? ? @current_user.email : ""
   title = @current_user.present? ? "Show skills for #{full_name}" : ""
%>

<div class="navbar navbar-fluid-top">
  <div class="navbar-inner">
    <div class="container-fluid">

      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <div class="btn-group btn-user">

        <a class="btn person" href="<%= @current_user.present? ? root_path : "javascript: window.toggleUserForm()" %>" title="<%= title %>">
          <i class="icon-user"></i>
          <strong><%= full_name %></strong>
        </a>

        <% if @current_user.present? %>
          <a class="btn dropdown-toggle" data-toggle="dropdown" title="User Options">
            <span class="caret"></span>
          </a>
        <% else %>
          <a class="btn dropdown-toggle" href="javascript: window.toggleUserForm()">
            <span>&nbsp;</span>
          </a>
        <% end %>

        <ul class="dropdown-menu">
          <li class="change"><a href="javascript: window.toggleUserForm()" title="Change to another person"><small>Change...</small></a></li>
          <% if @self_user.present? && @current_user.present? && @self_user.id != @current_user.id %>
            <li class="go_self"><a href="<%= change_path(q: @self_user.email) %>" title="View skills for <%= "#{@self_user.first_name} #{@self_user.last_name}" %>"><small>Go to <%= "#{@self_user.first_name} #{@self_user.last_name}" %></small></a></li>
          <% end %>
          <li class="divider"></li>
          <% if editable %>
            <li class="self_user"><a href="<%= change_path(q: email, s: "") %>" title="Disallow editing for <%= full_name %>"><small>I'm not <%= first_name %></small></a></li>
          <% else %>
            <li class="self_user"><a href="<%= change_path(q: email, s: email) %>" title="Allow editing for <%= full_name %>"><small>I'm <%= first_name %></small></a></li>
          <% end %>
        </ul>

      </div>

      <div class="btn-group btn-form">
        <form id="skillz_person_form" action="<%= change_path %>" class="form-inline">
          <label for="skillz_person">Person</label>
          <input id="skillz_person" name="q" type="text" class="input-medium" placeholder="Name or email..." data-provide="typeahead" data-source="<%= users = User.order("last_name, first_name").all.map{|i| "#{i.first_name} #{i.last_name}"}; users.inspect %>">
          <button type="submit" class="btn btn-primary"><%= @current_user.present? ? "Change" : "Set" %></button>
          <button type="cancel" class="btn btn-link">Cancel</button>
        </form>
      </div>

      <a class="brand" href="<%= root_path %>" title="Got Skillz"><span class="hidden-phone">Skillz</span><span class="visible-phone">Sz</span></a>

      <br>

      <div class="container-fluid nav-collapse">
        <ul class="nav">
          <li><a href="<%= csv_path %>" title="Export info to a CSV file"><small>Export</small></a></li>
          <li><a href="<%= about_path %>" title="About the Skillz project"><small>About</small></a></li>
        </ul>
      </div><!--/.nav-collapse -->

    </div>
  </div>
</div>

<div class="container-fluid">

  <div class="row-fluid">
    <div class="span12">
      <%= bootstrap_flash %>
      <%= yield %>
    </div>
  </div><!--/row-->

  <footer>
    <p>&copy; Nomad Ninjas 2013</p>
  </footer>

</div> <!-- /container -->

<!-- Javascripts
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script type="text/javascript">
  var skillzUser = "<%= @current_user.email if @current_user.present? %>";
</script>

<%= javascript_include_tag "application" %>

</body>
</html>
